# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr

# Local
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tauri/Rust
/src-tauri/target/
/src-tauri/gen/schemas

# User wallpapers and videos
/src-tauri/src/videos/*
!/src-tauri/src/videos/.gitkeep

# C++ intermediate
/src-tauri/src/wp.obj

# Env
.env
.env.*
!.env.example

